<mat-card class="p-2 h-100">
    <ng-container *ngIf="nodeDetails?.details">
        <!-- List of falcorgraph node keys to display -->
        Name: {{nodeDetails?.details?.["Name"]}}<br>
        Type: {{nodeDetails?.details?.["Type"]}}<br>

        <ng-container *ngIf="nodeDetails?.details?.['Type'] === 'Angular Component'">
            Selector: {{nodeDetails?.details?.["Non Filterable"]?.["selectorProperty"]}}<br>
            HTML Template path: {{nodeDetails?.details?.["Non Filterable"]?.["filePathToTemplate"]}}<br>
        </ng-container>
        <hr />
        File: {{nodeDetails?.details?.["File Path"]}}<br>
    </ng-container>
    <p *ngIf="!nodeDetails?.details">Select Node to view details</p>
    <div class="border" style="max-width: 1280px; max-height: 640; min-height: 200px;">
        <div id="tree-graph-div" class="overflow-hidden" style="max-width: 1280px; max-height: 640px;"></div>
    </div>
</mat-card>